[Unit]
Description=GPU monitoring service Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python2 /var/gpumon.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target

