[Unit]
Description=Dummy Service
After=multi-user.target

[Service]
Type=simple
ExecStart=python2 /var/gpumon.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target

